/* Progress Bar component */
.progress {
  width: 100%;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  height: 1.25em;
  margin: 1em 0;
}
.progress-bar {
  height: 100%;
  background: #2196f3;
  transition: width 0.3s;
}
